.arrivals .arrivals-slider .box {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 2rem 1rem;
	border: var(--border);
	margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover {
	border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img {
	height: 25rem;
}

.arrivals .arrivals-slider .box .content h3 {
	font-size: 2rem;
	color: var(--black);
}

.arrivals .arrivals-slider .box .content .price {
	font-size: 2.2rem;
	color: var(--black);
	padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .content .price span {
	font-size: 1.5rem;
	color: var(--light-color);
	text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars {
	font-size: 1.5rem;
}

#star_icon {
	color: var(--green);
}

/* #star_icon:last-child {
	background-color: var(--green);
} */

.mySwiper {
	display: flex;
	flex-direction: row;
}

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-button-prev {
	color: var(--green);
}

.swiper-button-next {
	color: var(--green);
}

.swiper-pagination-bullet-active {
	margin-top: 5rem;
	background-color: var(--green) !important;
}
